.footer{
	.social{
		margin-bottom: 40px;
	}
}
.social{
	> li {
		display: inline-block;
		&+ li {
			margin-left: 5px;
		}

		a{
			display: block;
			border-radius: 50%;
			font-size: 23px;
			color: $gray-dark;
			text-decoration: none;
			border: 2px solid $gray-dark;
			&:hover{
				border-color: $brand-success;
				color: $brand-success;
			}
		}
	}
	.order-page &{
		display: none;
	}
}

.copyrights{
	font-size: 13px;
	color: rgba($gray-dark, .5);
}