.header {
    background: url(../img/header-bg.jpg);
    background-size: cover;

    @include at-query($max, $screen-sm-max){
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1001;
    }

    &__phone {
        font-size: 20px;
		    display: inline-block;
        @include at-query($max, $screen-sm-max){
            font-size: 16px;
        }
        >span {
            font-size: 12px;
            display: block;
        }
        >a {
            color: inherit;
            text-decoration: none;
        }
        &+& {
            @include at-query($min, $screen-lg-min){
                margin-left: 25px;
            }
            @include at-query($min, $screen-xl-min){
                margin-left: 50px;
            }
            @include at-query($screen-xs-min, $screen-sm-max){
              margin-left: 50px;
            }
            @include at-query($max, $screen-xs-max){
              display: block;
              margin: auto;
            }
        }
    }
    &__logo {
      text-align: center;
        display: block;
        color: inherit;
        font-weight: bold;
        font-size: 10px;
        text-shadow: 0 3px 5px #180b04;
        padding-bottom: 20px;
        margin-top: -10px;
        @include at-query($min, $screen-sm-min){
          letter-spacing: 6px;
        }
        @include at-query($max, $screen-xs-max){
          margin-top: 0;
          padding: 0;
        }
        &:hover{
          text-decoration: none;
          color: $primaryColor;
        }
        img {
            margin: auto;
		    } 
        span{
          display: block;
          @include at-query($min, $screen-sm-min){
            margin-top: 3px;
          }
          @include at-query($max, $screen-xs-max){
            display: none;
          }
        }
    }
    &-body {
        color: $primaryColor;
        padding: 20px 0;
    }

    @include at-query($max, $screen-md-max){
        .btn-lg{
            padding: 15px 20px;
        }
    }
}
/*============= Scroll header =======================*/
.header-scroll{
  background: $gray;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  color: $brand-primary;
  padding: 6px 0;

  &__logo{
    max-width: 170px;
    top: 1px;
    @include block-center-abs(hrl);
  }

  .header__phone{
    font-size: 14px;
    &+.header__phone{
      margin-left: 15px;
    }
  }
  .btn--call-back{
    margin: 2px 0;
  }
}
/*==================Top bar==========================*/

.top-bar {
  color: $brand-primary;
  background: rgba(#180b04, 0.66);
  padding: $padding-base-vertical 0;
  position: relative;

  @include at-query($max, $screen-sm-max){
    padding: 20px 0;
  }

  @include at-query($max, $screen-xs-max){
    padding: 10px 0;
  }

  &__menu-toggle{
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 26px;
  }
 
  &__basket{
    float: right;
    font-size: 26px;
    padding-left: 5px;
  }
  &__menu {
    &__link {
      text-transform: uppercase;
      color: #FFF;
      display: inline-block;
      padding: 10px 10px;
      font-size: 13px;
      text-decoration: none;
     
      &:hover {
        color: darken($primaryColor, 15%);
        text-decoration: none;
      }
    }
    @include at-query($min, $screen-sm-min){
      &.collapse{
        display: block !important;
      }
    }
    @include at-query($max, $screen-sm-max){
      position: absolute;
      left: 0;
      right: 0;
      top: 82px;
      background: $body-bg;
      border-bottom: 1px solid rgba($gray-dark, .3); 
      z-index: 1000;
      box-shadow: 0 5px 10px rgba($gray-dark, .4);
      &__link{
        display: block;
        color: $text-color;
      }
    }

    @include at-query($max, $screen-xs-max){
      top: 62px;
    }

    &__phone{
      border-top: 1px solid rgba($gray-dark, .3); 
      @extend .top-bar__menu__link;
    }
  }
  &__location {
    margin-right: 30px;
      .form-control {
        color: #FFF;
        min-width: 195px;
        border-radius: $border-radius-small;
        border-color: $brand-primary;
        height: 34px;
        padding: 6px 12px;
        option {
          background: #1b0a02;
        }
      }
      @include at-query($max, $screen-md-max) {
        display: none;
      }
    }
    &__account {
      vertical-align: middle;
      .login {
        color: inherit;
        font-size: 15px;
        display: inline-block;
        padding: 7px 4px;
        position: relative;
        @include at-query($min, $screen-sm-min){
          &:before{
            display: none;
          }
        }
        @include at-query($max, $screen-sm-max){
          font-size: 20px;
        }
      }
      .registration {
        @extend .login;
        opacity: .9;
        @include at-query($max, $screen-sm-max){
          display: none;
        }
        &:before{
          content:"/";
          padding-right: 5px;
        }
      }
    }
    &__logo{
      max-width: 175px;
      @include block-center-abs(hrl);
      @include at-query($max, $screen-xs-max){
        max-width: 125px;
      }
    }
    &__search{
      position: absolute;
      left: 0;
      right: 0;
      top: 82px;
      background: $body-bg;
      z-index: 1000;

      @include at-query($max, $screen-xs-max){
        top: 62px;
      }

      .search{
        margin: 20px 0;
      }

      &-toggle{
        @extend .top-bar__menu-toggle;
      }
    }

  }
  /*============= Main menu ========================*/
@mixin linkGutter($linkGutter){
  margin-left: $linkGutter;
  &:after {
    left: -$linkGutter/2;
  }
}

  .menu{
    background: #faf6e1;
    border-bottom: 1px solid rgba($gray-dark, .3);
    position: relative;
  }

  .menu-primary {
    @include at-query($max, $screen-sm-max){
      text-align: center;
    }
  }

  .menu-primary__link{
      display: inline-block;
      padding: 18px 0;
      margin-bottom: -1px;
      & > a,
      &{
        color: rgba($gray-dark, .7);
        text-transform: uppercase;
        font-size: 15px;
  
        &:hover,
        &:active,
        &:focus {
          color: $gray-dark;
          text-decoration: none;
        }
      }

    & > a {
      position: relative;
    }

    & + a#{&},
    & + & > a {
      position: relative;
      &:after {
        content: '';
        height: 20px;
        display: block;
        border-left: 1px solid transparentize($primaryColor, 0.2);
        @include block-center-abs(vrl);
      }
      @include linkGutter(40px);
    }
  }

  @media screen and (max-width: $screen-md-max) {
    .menu-primary__link {
      & + a#{&},
      & + & > a {
        @include linkGutter(15px);
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    .menu-primary__link {
      & + a#{&},
      & + & > a {
        @include linkGutter(34px);
      }
    }
  }

   @media screen and (max-width: $screen-xs-max) {
    .menu-primary__link {
      & + a#{&},
      & + & > a {
        @include linkGutter(29px);
      }
    }
  }

  .dropdown{
    &-toggle{
      margin-right: 10px;
      &:before{
        position: absolute;
        right: -18px;
        top: 4px; 
        transition: .2s;
        transform-origin: center 45%;
        .open > &{
          transform: scaleY(-1);
        }
      }
    }
    &-menu{
      text-align: left;
      padding-top: 15px;
      border-bottom: 1px solid rgba($gray-dark, .3);
      display: block;
      transform: scaleY(0.0001);
      transform-origin: center top;
      transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
                  opacity .24s cubic-bezier(0.57, 0, 1, 1);
      opacity: 0;
      background: #FFF;
      z-index: 15;
      top: 57px;
      box-shadow: 0 5px 10px rgba($gray-dark, .4);
      @include block-center-abs(hrl);

      .open &{
        transform: scaleY(1);
        opacity: 1;
      }

      &__footer{
        border-top: 1px solid $brand-primary;
        margin-top: 20px;
        white-space: nowrap;

        @include at-query($max, $screen-xs-max){
          .menu-primary__link{ 
            font-size: 13.5px;
              & + .menu-primary__link {
                @include linkGutter(14px);
            }
          }
        }
      }
    }
  }

  .submenu{
    @extend .list-unstyled;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 100%;

    @include at-query($min, $screen-sm-min){
      width: auto;
      margin-right: 50px;
    }
    @include at-query($max, $screen-sm-max){
      margin-left: 15px;
    }

    &__title{
      display: block;

      & + ul{
        margin-top: 0 !important;
      }
    }

    &__link{
      color: rgba($gray, .65);
      padding: 3px 0;
      display: block;
      font-size: 14px;
      &:hover{
        text-decoration: none;
      }

      @include at-query($max, $screen-sm-max){
        padding: 3px 0;
      }
    }

    ul {
      @extend .list-unstyled;    
      margin-top: 40px;
    }
  }

  .menu-mobile{
    &__link{
      display: block;
      text-transform: capitalize;
      color: $gray-dark;
      padding: 10px 0;
      position: relative;
    }
  }

  .search {
    width: 100%;
    transition: max-width .5s;
    .form-control {
      background: #faf6e1;
      border-radius: 3px;
      border-color: transparentize(#4e372b, 0.4);
      @include placeholder(trasparetize($bodyColor, 0.4));
      &:focus{
        background: #FFF;
      }
    }
    &.on-focus{
      z-index: 1000;
      width: calc(100% - 30px);
      max-width: 100%;
    }
    @include at-query($min, $screen-sm-min) {
      position: absolute;
      top: 10px;
      max-width: 140px;
      right: calc((100% - #{$container-sm} + #{$grid-gutter-width})/2);
    }
    @include at-query($min, $screen-md) {
      right: calc((100% - #{$container-md} + #{$grid-gutter-width})/2);
    }
    @include at-query($min, $screen-lg) {
      right: calc((100% - #{$container-lg} + #{$grid-gutter-width})/2);
    }
    @include at-query($min, $screen-xl) {
      max-width: 290px;
      right: calc((100% - #{$container-xl} + #{$grid-gutter-width})/2);
    }
  }

