.basket{
	&__summary{
		font-size: 18px;
	}
	&__item{
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: relative;
		border: 1px solid rgba($gray-dark, .3);

		& + .basket__item{
			margin-top: 15px;
		}

		&__img{
			flex: 80px;
		}

		&__info{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex: auto;
			@include at-query($max, 594px){
				flex-direction: column;
				align-items: flex-start;
				padding: 15px 0;
			}
		}

		&__quantity{
			@include at-query($max, 594px){
				padding: 10px 0;
			}
		}

		&__remove{
			flex: 82px;

			button:before{
				display: none;
			}
		}

		@include at-query($max, 594px){
			&__remove{
				flex: 5px;
				button{
					text-indent: 100%;
					overflow: hidden;
					width: 25px;
					height: 25px;
					position: absolute;
					border: none;	
					top: 0;
					right: 0;
					&, &:hover, &:active, &:focus{
						color: transparent !important;
						background: transparent !important;
					}
					&:before{
						color: rgba($gray-dark, .5);
						display: inline-block;
						height: 14px;
						width: 14px;
						@include block-center-abs(full);
					}			
				}
			}
		}
	}
	&__actions,
	%buy-buttons{
		border-bottom: 1px solid rgba($gray-dark, .3);
		.btn{
			width: 100%;
		}

		@include at-query($max, $screen-xs-max){
			.btn + .btn{
				margin-top: 20px;
			}
		}

		@include at-query($min, $screen-xs-min){
			.btn + .btn{
				margin-left: 20px;
			}
	
			.btn{
				width: calc(100%/2 - 12px);
				max-width: 350px;
			}
		}
	}


}