.blog-article{
    img {
        @extend .img-responsive;
    }

    &__h1{
        font-size: 16px;
    }

    a{
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
}