.catalog{
	&__filter{
		.radio{
			margin: 0;
			label{
				padding: 10px 5px 10px 30px;
				width: 100%;

				@include at-query($max, $screen-md-max){
					padding-left: 20px;
				}
			}
		}
		.radio + .radio{
			border-top: 1px solid $gray-lighter;
		}

		.panel-title > a,
		.panel-title > span {
			display: block;
			padding: 10px;
			font-size: 14px; 
		}

		&-label{
			border-bottom: 1px solid $gray-lighter;
			.label {
				padding-right: 2.5em;
			}
		}

		&-category{
			display: flex;
			flex-wrap: wrap;

			@include at-query($min, $screen-md-min){
				margin: 0 -10px;
			}

			.label-category{
				flex: 1 0 220px;
				max-width: 220px;
				@include at-query($max, $screen-xl-max){
					flex: 1 0 262px;
					max-width: 262px;
				}

				@include at-query($max, $screen-lg-max){
					 flex: 1 0 219px;
					 max-width: 219px;
				 }

				@include at-query($max, $screen-md-max){
					flex: 1 0 256px;
					max-width: 256px;
				}

				@include at-query($max, $screen-sm-max){
					display: none
				}
			}
		}

		@include at-query($max, $screen-sm-max){
			top: 49px;
			background: $body-bg;
			z-index: 10;
			box-shadow: 0 5px 5px -5px rgba(78,55,43,0.4);
			font-size: $font-size-base;
			@include block-center-abs(hrl);
		}
		@include at-query($max, $screen-xs-max){
			top: 47px;
		}
	}

	&__products{
		> div {
			margin: 0 -11px;
		}

		&__header{
			@include at-query($min, $screen-sm-min){
				background: $brand-primary;
				justify-content: space-between;
			}
			display: flex;
		}
		
		&-view{
			font-size:21px;
			display: flex;
			position: relative;

			[class*='icon-']{
				margin: auto;
				&.active,
				&[aria-expanded="true"]{
					color: $brand-success;
				}
			}

			@include at-query($max, $screen-sm-max){
				border-top: 1px solid #d2ccca;
				border-bottom: 1px solid #d2ccca;
				border-left: 1px solid #d2ccca;
				flex: auto;

				> span{
					flex: auto;
					border-right: 1px solid #d2ccca;
					&:nth-child(2){
						margin-left: -1px;
					}
				}
				> [class*='icon-']{
					padding: 10px;
					flex: none;
				}
			}
	
			@include at-query($min, $screen-sm-min){
				color: #FFF;
				padding-right: 10px;
			}

			@include at-query($max, $screen-xs-max){
				font-size: 19px;
			}

		}

		&__grid{
			display: flex;
			flex-wrap: wrap;
			@include at-query($max, $screen-xs-max){
				justify-content: space-around;
			}
			&.tiles{
				.hide-tiles{
					@extend [hidden];
				}
			}
			&.list{
				.hide-list{
					@extend [hidden];
				}
			}
		}
	}

	@include at-query($min, $screen-lg-min){
		&__content{
			margin-left: 20px;
		}
	}	

	&__header{
		display: flex;
		justify-content: space-between;
		line-height: 40px;

		&__h1{
			margin: 0;
			@include at-query($min, $screen-xs-min){
				margin: 0 40px 0 0;
			}
		}

		&__description{
			font-size: 10px;
			color: rgba($gray-dark, .74);
			line-height: 1.1;
			margin: auto 0;

		}
		&__img{
			border: none;	
			margin: auto 0 auto 10px;
			max-width: 60px;
			@include at-query($max, $screen-md-max){
				display: none;
			}
		}
	}
	
}