.home{
    &__filter{
        border: 1px solid $primaryColor;
        margin-bottom: 20px;
        &__title{
            background: $primaryColor;
            color: #FFF;
            line-height: 40px;
            margin: 0;
        }
        
        .form-control{
            max-width: 70px;
            display: inline-block;
            margin-left: 10px;
            height: 25px;
            padding: 0 3px;

            @include at-query($max, $screen-lg-max){
                margin-left: 0;
            }
        }

        &__actions{
            padding: 20px 15px;
            border-top: 1px solid $primaryColor;
        }
    }

    @include at-query($min, $screen-sm-min){
        .news__item{
            font-size: 14px;
            max-width: 100%;
        }
    }    
}

.menu-secondary{
    & + & {
        margin-top: 40px;
    }
    &__link{
        display: block;
        text-transform: uppercase;
        border-bottom: 1px solid rgba($gray-dark, .3);
        color: $bodyColor;
        padding: 5px 25px;
    }
}

.promotion-banner{
    display: none;
    @include at-query($min, $screen-sm-min){
        display: block;
        img+img{
            margin-top: 20px;
        }
    }
}