.order{

  @include at-query($max, $screen-sm-max){
    &-page{
      .header__logo{
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
      }

      .header-body{
        padding: 15px 0 10px;
      }
    }
  }

  @include at-query($max, $screen-xs-max){
    &-page{
      .header-body{
        padding: 10px 0;
      }
    }
  }

    &__header{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba($gray-dark, .28);
        margin-bottom: 10px;
        
        a{
            margin: auto 0;
        }
        .h1--page{
            border-bottom: none;
            margin-bottom: 0;
        }
    }

    &__form{

		form{
			background: rgba($gray-dark, .1);
			border: 1px solid rgba($gray-dark, .2);
            padding-left: 10px; 
            padding-right: 10px; 
        }
        
        @include at-query($max, $screen-xs-max){
            h3{
                font-size: 18px;
            }
        }

		.form-group{
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
		}

		.btn{
			width: 100%;
			max-width: 350px;
		}
	}
}