.product {

  &__title {
    border-bottom: 1px solid rgba($gray-dark, 0.3);
    padding-bottom: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;

    &__img {
      display: flex;

      img {
        margin: auto;
      }
    }
    @include at-query($max, $screen-xs-max) {
      .h2 {
        font-size: 20px;
      }
    }
  }

  $thumbsWidth: 70px;
  $thumbsHeight: 94px;
  &__thumbs {
    @include block-center-abs(hrl);
    bottom: 20px;
    height: $thumbsHeight;
    img {
      margin: auto;
    }
    @include at-query($max, 594px) {
      .slick-arrow:before {
        height: 14px;
      }

      .slick-list {
        margin: 0 30px;
      }

    }

    @include at-query($min, 595px) {
      @include block-center-abs(vrl);
      left: 0;
      width: $thumbsWidth;
      height: auto;

      .slick-list {
        @include block-center-abs(vrl);
      }
    }

    .slick-slide {
      margin: 3px;
      &.choosen {
        outline: 1px solid rgba($gray, 0.3) !important;
        overflow: hidden;
      }
    }
  }
  &__image {
    position: relative;
    height: 500px;

    @include at-query($max, $screen-lg-max) {
      height: 400px;
    }

    @include at-query($min, 600px) {
      margin-left: $thumbsWidth;
    }

    @include at-query($max, 599px) {
      margin-bottom: $thumbsHeight;
    }

    img {
      max-height: 500px;
      @include block-center-abs(full);

      @include at-query($max, $screen-lg-max) {
        max-height: 400px;
      }

      @include at-query($max, $screen-md-max) {
        max-width: 310px;
      }


    }
  }

  &__info {
    padding: 20px 30px 10px;
    border: 1px solid rgba($gray, 0.3);
    border-radius: 0 0 $border-radius-base $border-radius-base;

    @include at-query($min, $screen-md-min) {
      border-top: none;
    }

    @include at-query($max, $screen-md-max) {
      margin-top: 15px;
      padding: 10px 15px;
    }

    @include at-query($max, 594px) {
      border: none;
      padding: 0;
    }
    &__row {
      border-bottom: 1px solid rgba($gray-dark, 0.15);

      @include at-query($max, 594px) {
        display: none;
        border: none;
      }
    }
    &__panels {
      @include at-query($min, 595px) {
        display: none;
      }
    }
  }

  &__collection,
  &__scu {
    font-size: 16px;
    strong {
      display: block;
    }
  }

  &__rating {
    font-size: 20px;
    line-height: .8;
    > i:before {
      font-style: normal;
      content: '\2606';
    }

  }

  &__options {
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    li {
      line-height: 1;
      @include at-query($max, 594px) {
        flex: 100%;
        margin-bottom: 25px;
      }
      strong {
        font-size: 12px;
      }
    }

    &__title {
      font-size: 14px;
      margin: 0;
      font-weight: 300;
    }
  }

  &__benefits {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include at-query($max, 594px) {
      display: none;
    }

    > li {
      font-size: 14px;
      line-height: 1;
      flex: 100%;
      max-width: calc(100% / 4);

      img {
        margin-bottom: 10px;
      }
    }
    &:after {
      content: "";
      width: 100%;
      display: inline-block;

    }
  }

  &__reviews {
    font-size: 12px;
    font-weight: bold;
    .btn-link {
      display: block;
      padding: 0;
      color: $gray;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .product__info &-price {
    padding: 7px 0;
    max-width: 220px;

    .product &_old {
      line-height: 1;
    }
  }

  @include at-query($max, 594px) {
    .product-price {
      display: flex !important;
    }
  }

  &.on-sale {
    .product-price {
      padding: 0;
    }

    .product__buttons {
      padding: 9px 0;
    }

    .label-primary {
      margin-top: 5px;
    }
  }

  .btn--discount {
    margin: 5px 0;
    &:before {
      margin-right: 10px;
      font-size: 20px;
    }

    @include at-query($screen-md-min, $screen-lg-max) {
      &:before {
        font-size: 16px;
        margin-left: 0;
      }
    }
  }

  .btn--compare {
    margin: 9px 15px 9px 0;
    max-width: 220px;
  }

  &__buttons {
    .btn {
      width: 100%;

      & + .btn {
        margin-top: 10px;
      }
    }

    @include at-query($max, 594px) {
      display: block !important;
    }

    @include at-query($min, 595px) {
      .btn {
        max-width: 220px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .product-status {
    @include at-query($min, $screen-lg-min) {
      margin-left: $thumbsWidth;
    }
    color: $gray;
    font-size: 12px;

    .label-status {
      margin-right: 10px;
      margin-bottom: 10px;

      @include at-query($min, $screen-xs-min) {
        float: left;
      }
      @include at-query($max, $screen-xs-max) {
        max-width: 100%;
      }
    }

    &__body {
      overflow: hidden;
    }
  }

  &__tabs {
    @include at-query($max, 594px) {
      display: none;
    }
    .tab-content {
      padding-top: 30px;
    }

    .tab-pane {
      padding: 20px 30px;
      border: 1px solid rgba($gray-dark, .3);
    }

    .nav-tabs {
      display: flex;

      @include at-query($max, 700px) {
        flex-direction: row;
      }

      > li {
        text-align: center;
        flex: auto;
        > a {
          padding-left: 0;
          padding-right: 0;
        }

        & + li {
          margin-left: 5px;
        }

        h3 {
          font-size: 14px;
          font-weight: 300;
          margin: 0;
        }
      }
    }
  }
}

.place-review {
  &__rating {
    font-size: 25px;
  }

  &__title {
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .btn--call-back {
    font-size: inherit;
  }

  textarea {
    @include resizable(vertical);
  }
  @include at-query($max, 594px) {
    margin-top: 20px;
  }
}

.reviews-holder {
  max-height: 291px;
  overflow-y: auto;
  padding: 0 20px;

  @include at-query($max, 594px) {
    padding-left: 0;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba($gray, .15);
    border-radius: $border-radius-base;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $border-radius-base;
    background: $brand-success;
  }
}

.review {
  & + & {
    margin-top: 10px;
  }
  &__rating {
    font-size: 20px;
    margin: auto 0;

    .rating {
      padding-right: 10px;
      display: inline-block;
    }

    &__value {
      font-size: 12px;
      font-weight: bold;
      vertical-align: 2px;
    }
  }

  &__body {
    font-size: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($gray-dark, .3);
  }

  &__title {
    justify-content: space-between;
    .badge {
      align-self: auto;
      margin: auto 0;
    }
  }

  &__author {
    margin: auto 0;
  }

}

.features {
  margin: -10px -10px -11px;
  display: flex;
  flex-wrap: wrap;
  @include at-query($min, 595px) {
    margin: -20px -30px -21px;
  }

   @include at-query($max, $screen-sm-max){
     .col-sm-6{
       width: 100%;
     }
    }

  &__row {
    padding: 10px 20px;
    height: 100%;
    display: flex;
    align-items: center;
    @include at-query($max, 594px) {
      padding: 10px 0;
    }

    .col-sm-6{
      height: 100%;
    }

    strong {
      font-weight: 600;
    }
    
      .col-sm-6:nth-child(n+3) & {
        border-top: 1px solid #b7b1ad;
      }
    
      @include at-query($max, $screen-sm-max){
        .col-sm-6:nth-child(2) & {
              border-top: 1px solid #b7b1ad;
            }
      }
     

      @include at-query($min, $screen-sm-min){
        .col-sm-6:nth-child(2n-1) & {
          border-right: 1px solid #b7b1ad;
        }
      }
        
    @include at-query($min, $screen-sm-min) {
      .col-sm-6:nth-child(4n-1) & {
        background: rgba($brand-primary, .3);
      }

      .col-sm-6:nth-child(4n+4) & {
        background: rgba($brand-primary, .3);
      }
    }
  }
}

.similars {
  .h4 {
    border-bottom: 1px solid $gray;
    padding-bottom: 15px;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: $gray;
    margin: 5px 10px;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}



