.basket{
    a{
        font-size: inherit;
        text-decoration: none;
        position: relative;
      }
      
    .total-items{
        background: $brand-success;
        font-size: 13px;
        color: #FFF;
        border-radius: 50%;
        position: absolute;
        bottom:-4px;
        right: -4px;
        width: 18px;
      }
}

.basket_fixed{
  padding: 5px 0;
  max-width: 70px;
  background: $gray;
  position: fixed;
  right: 0;
  bottom: 60%;
  font-size: 25px;
  z-index: 1002;
  border-radius: $border-radius-base 0 0 $border-radius-base;
  span{
    font-size: 10px;
  }

  .basket-page &,
  .order-page &{
    display: none;
  }
  
  @include at-query ($max, $screen-sm-max){
    padding: 9px 12px 12px 9px;
    border-radius: 50%;
  }
}