.btn--call-back{
    background: linear-gradient(0deg, $primaryColor, #faf2b4);
    color: $bodyColor;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    &:hover,
    &:active,
    &:focus{
        background: linear-gradient(0deg, darken($primaryColor, 7%), darken(#faf2b4, 7%));
        color: $bodyColor;
    }
}

.btn--search{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: none;
    font-size: 20px;
    padding: 5px 6px 7px;
    color: $gray-dark;

    &:hover,
    &:active,
    &:focus{
        color: $brand-primary;
    }
}

.btn--add-cart{
    color: #fefefa;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    background: linear-gradient(to bottom, rgba(149,3,3,1) 0%, rgba(83,2,1,1) 100%);
    &:hover,
    &:active,
    &:focus{
        color: #FFF;
        background: rgba(149,3,3,1);
    }
}

.btn--compare{
    padding: 4px 40px;
    font-weight: bold;
}

.btn--discount{
    color: #FFF;
    line-height: 1.8;
    border-radius: 5px 38px 0 0;
    @include gradient-vertical(#3e261a,#250e06);
    &:hover,
    &:active,
    &:focus{
        color: #FFF;
        @include gradient-vertical(#3e261a,#250e06);
    }
    span{
        font-size: 14px;
        line-height: inherit;
    }
}

.btn--move-up{
    display: none;
    z-index: 1000;
    position: fixed;
    left: 10px;
    bottom: 10px;
    border: 1px solid rgba($gray, .2);
    background: rgba($brand-primary, .1);
}