
.checkbox,
.radio{
    padding-left: 20px;
    label{
        position: relative;
    }

    i {
        position: absolute;
        width: 15px;
        height: 15px;
        border: 1px solid lighten( $primaryColor,10%);
        left: 0;
        top: 0.18em;
        bottom: 0;
        margin: auto;
        transition: .2s cubic-bezier(1, 0.39, 1, 1);
    }
}

.radio{
    i{  
        border-radius: 50%;
    }

    [type=radio]{
        @extend .sr-only;
        &:checked + i {
            box-shadow: inset 0 0 0 1px #FFF, inset 0 0 0 8px darken($primaryColor, 10%);
        }
    }
} 

.checkbox  {
    i:before{  
            opacity: 0;
            position: absolute;
            display: block;
            transform: scale(0.001);
            top: 0;
            left: -2px;
            transform-origin: center center;
            transition: inherit;
            @extend .icon-check;
            @extend [class^="icon-"]:before;
            line-height: 15px;
        }

    [type=checkbox]:checked + i:before {
        opacity: 1;
        transform:scale(.8);
        }
}

.quantity{
    position: relative;
    display: inline-block;
    max-width: 120px;

    @include at-query($max, 594px){
        max-width: 100px;
    }

    .form-control{
        text-align: center;
        padding: 9px 38px;
        border-color: #FFF; 
    }

    button{
        line-height: 1;
        font-size: 20px;
        width: 38px;
        padding-left: 0; 
        padding-right: 0; 
        text-align: center;
        @include block-center-abs(vrl);
        @include at-query($max, 594px){
            width: 30px;
        }
    }

        .plus{
          right: 0;  
        }

        .minus{
            left: 0;
        }
    
}