$fonts-path: '../fonts/icons';
@font-face {
  font-family: 'fontello';
  src: url('#{$fonts-path}/fontello.eot?11749268');
  src: url('#{$fonts-path}/fontello.eot?11749268#iefix') format('embedded-opentype'),
       url('#{$fonts-path}/fontello.woff2?11749268') format('woff2'),
       url('#{$fonts-path}/fontello.woff?11749268') format('woff'),
       url('#{$fonts-path}/fontello.ttf?11749268') format('truetype'),
       url('#{$fonts-path}/fontello.svg?11749268#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('#{$fonts-path}/fontello.svg?11749268#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 



.icon-left-min:before { content: '\e800'; } /* '' */
.icon-right-min:before { content: '\e801'; } /* '' */
.icon-down-big:before { content: '\e802'; } /* '' */
.icon-left-big:before { content: '\e803'; } /* '' */
.icon-right-big:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-tiles:before { content: '\e808'; } /* '' */
.icon-close:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-up-big:before { content: '\e80b'; } /* '' */
.icon-gift:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-plus:before { content: '\e80e'; } /* '' */
.icon-minus:before { content: '\e80f'; } /* '' */
.icon-menu:before { content: '\e810'; } /* '' */
.icon-params:before { content: '\e811'; } /* '' */
.icon-down-min:before { content: '\e812'; } /* '' */
.icon-up-min:before { content: '\e813'; } /* '' */
.icon-list:before { content: '\f0ca'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-basket:before { content: '\f291'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-gplus:before{ content: '\F0D4'}