.label-primary{
	border: 1px solid $brand-primary;
	position: relative;
	text-transform: uppercase;
	.icon-close{
		position: absolute;
		right: 0;
	    top: 0;
	    padding: 6px 5px;
    	font-size: 14px;
	}
	&+&{
		margin-left: 10px;
	}
}

.label-discount{
	display: none;
	position: absolute;
	right: 0;
	top: -10px;
	background: linear-gradient(45deg, rgba(240,206,96,1) 0%, rgba(240,206,96,1) 43%, rgba(205,174,70,1) 100%);
	color: #FFF;
	font-weight: bold;
	line-height: 20px;
	border-radius: 0 4px 4px 0;
	padding: 0 5px 0 0;
	font-size: 11px;

	&:after{
		position: absolute;
		border: 10px solid transparent;
		border-right: 15px solid rgba(240,206,96,1);
		content: '';
		left: -25px;
	}

	.on-sale &{
		display: block;
	}
}

.label-status{
	max-width: 90px;
	display: inline-block;
	font-size: 12px;
	&.primary{
	  background: $brand-primary;
	}

	@include at-query($max, $screen-sm-max){
		font-size: 10px;
	}

	@include at-query($max, $screen-xs-max){
		font-size: 8px;
	}
  }

.label-category{
	border: 1px solid $brand-primary;
	padding: 3px;
	border-radius: $border-radius-base;
	overflow: hidden;
	margin: 10px;
	display: flex;
	img{
		max-width: 70px;
		margin: auto 10px auto 0;
	}

	&__text{
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		flex: auto;
		padding-right: 10px;
	}
	&:hover{
		border-color: darken($brand-primary, 15%);
	}
	@include at-query($max, $screen-lg-max){
		img{
			max-width: 55px;
		}
	}
}

.label-status{
	color: #FFF;
	border-radius: $border-radius-base;
	padding: $padding-small-vertical $padding-base-horizontal;

	&.success{
		background: $state-success-bg;
	}
}

.wistisnew{
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  padding: 0 4px;
  left: 5px;
  top: 46px;
  color: rgba(54, 30, 19, 0.7);
  background: #f5e198;
  box-shadow: 0 1px 0 #6d370c;
}

.wistisnew1{
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  padding: 0 4px;
  right: 5px;
  top: 46px;}

.wistisnew3{
  z-index: 10;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  max-width: 105px;
  left: 108px;
  top: 46px;
}