.modal {
  .icon-close {
    background: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    font-size: 16px;
  }

  .btn-default {
    border-color: rgba(78, 55, 43, 0.5);
  }

  form {
    max-width: 360px;
    margin: 20px auto 35px;
  }
}

.discount-modal {
  .modal-content,
  .modal-header {
    border: none;
  }

  .modal-dialog {
    width: 100%;
    max-width: 850px;
  }

  .btn-success {
    width: calc(100% / 2 - 2px);
  }

  .text-muted {
    font-size: 8px;
  }

  &__benefits {
    background: #353535;
    color: #FFF;
    > li {
      position: relative;
      padding: 84px 0 30px;
      font-size: 10px;
      & + li {
        border-top: 1px solid rgba(254, 254, 254, 0.1);
      }
    }
    img {
      top: 25px;
      @include block-center-abs(hrl);
    }
  }

  &__form {
    position: relative;
    padding-top: 9px;
    &:after {
      content: "";
      background: url(../img/discount-wave-bg.png) no-repeat;
      background-size: cover;
      background-position: left bottom;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 70px;
    }
  }

  &__title {
    .h5 {
      vertical-align: super;
    }
  }
}

.product-added-modal {
  &__content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    @include at-query($min, 595px) {
      padding-right: 40px;
      flex-direction: column;
      height: 300px;
    }
  }

  &__img {
    flex: auto;
    @include at-query($min, 595px) {
      height: 100%;
    }

    img {
      max-height: 300px;
      margin: auto;
      @include at-query($max, 594px) {
        max-height: 150px;
      }
    }
  }

  &__actions {
    @include at-query($max, 594px) {
      flex: auto;
    }
    .btn {
      display: block;
    }
  }

  &__info {
    @include at-query($max, 594px) {
      flex: auto;
      align-self: center;
      .h3{
        font-size: 18px;
      }
    }
  }
}

