.panel-group .panel-primary {
	&+.panel-primary{
		margin-top: 20px;
	}
}

.panel-group .panel-default {
	&+.panel-default{
		margin-top: -1px;
	}

	.panel-body{
		padding: 10px;
	}
}

.panel {
	box-shadow: none;
	.panel-title{
		position: relative;

		[class^='icon-']{
			position: absolute;
			right: 10px;
			top: 10px;
			transition: .2s;
			transform-origin: center 50%;
		}
		.collapsed [class^='icon-']{
			transform: scaleY(-1);
		}

		@include at-query($screen-sm-min, $screen-md-max){
			> a {
				padding: 5px 10px;
				font-size: 14px;
			}
			[class*='icon-']{
				top: 5px;
				right: 5px;
			}
		}
	}
}
