.product-card{
	border: 1px solid rgba($gray-dark, .3);
	border-radius: $border-radius-small;
	padding: 15px 10px;
	max-width: calc(100%/4 - 20px);
	overflow: hidden;
	min-height: 275px;

	@include at-query($max, $screen-lg-max){
		max-width: calc(100%/3 - 20px);
	}

	@include at-query($max, $screen-md-max){
		max-width: calc(100%/2 - 20px);
	}

	@include at-query($max, $screen-xs-max){
		max-width: 290px !important;

		.slick-slide &{
			margin: auto;
		}
	}

	&:hover{
		border-color: rgba($gray-dark, .5)	
	}

	img{
		margin: 0 auto;
	}

	a:hover{
		text-decoration: none;
	}
	
	
}

.product-model{
	font-weight: bold;
	color: $gray-dark;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	flex: none;
	max-height: 20px;

	&:hover{
		color: $brand-primary;
	}
}

.product-price{
	text-transform: uppercase;
	line-height: 26px;
	font-family: 'Montserrat';
	display: flex;
	align-self: flex-end;
	flex-wrap: wrap;
	justify-content: space-between;

	.list &{
		flex-wrap: wrap;
		display: flex;
	}

	.tiles & {
		@include at-query($max, $screen-xs-max){
			max-width: 210px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.on-sale &{
		display: flex;
	}

	&__title{
		position: relative;
		margin-bottom: 5px;
		margin-top: 6px;

		.on-sale & {
			flex: 100%;
		}
	}
	&_current{
		line-height: inherit;
		font-weight: bold;
		white-space: nowrap;
		font-size: 20px;
		.list & {
			order: 2;
		}
	}

	&_old{
		display: none;
		color: #969696;
		font-weight: normal;
		line-height: 1.5;

		.list & {
			order: 1;
		}

		.on-sale &{
			display: inline-block;
		}
	}
}

.product-actions{
	flex: 100%;
	display: flex;
	align-items: flex-end;
}

.product-card--primary{
	display: flex;
	float: left;
	margin: 10px;
	flex: 1 0 195px;
	flex-wrap: wrap;

	.tiles &{
		flex-direction: column;
	}

	> .flex-order-2 {
		width: 50%;
		padding-left: 10px;
		border-left: 1px solid rgba($gray-dark, .3);
		display: flex;
		flex-wrap: wrap;
		height: calc(100% - 29px);
	}
	
	> .flex-order-1 {
		display: flex;
		flex-wrap: wrap;
		.tiles & {
			width: 100%;
			padding: 0;
			flex: 1;
		}

		width: 50%;
		padding-right: 5px;
	}

	.list & img{
		max-width: 100px;
		margin-left: -10px;
	}

	.list & .product-title{
		font-size: 12px;
		color: rgba($gray-dark, .5);
		text-transform: uppercase;
		flex: 100%;
	}

	.list & .btn--add-cart{
		font-size: 10px;
	}

	.tiles & .product-price{
		margin-bottom: 20px;
		flex: auto;
	}

	.tiles & .btn--add-cart{
		align-self: flex-end;
	}

	.product-status{
		white-space: nowrap;
	}
}

.product-img{
	flex: 100%;
	margin-bottom: 10px;

}

%product-line-style{
	font-weight: 300;
	color: rgba($gray-dark, .8);
	font-size: 10px;
	text-transform: uppercase;
	flex: 100%;
	margin-bottom: 15px;
}

.product-kind{
	@extend %product-line-style;
}

.product-options{
	line-height: 1;
	@extend %product-line-style;
	li {
		display: block;
		span:first-child{
			color: $gray-dark;
			display: block;
			font-weight: bold;
		}
		& + li {
			margin-top: 8px;
		}
	}
}

.product-status{
	@extend %product-line-style;
	font-size: 9px;
	.value{
		font-weight: bold;
		color: rgba($gray-dark, .9);
		margin-bottom: 10px;
		display: block;
	}
}

.product-card--secondary{
	max-width: 100%;

	.product-price{
		margin-bottom: 20px;
	}
}