.rating{
  direction: rtl;
  line-height: .8;

  label{
    margin-left: -5px;
  }
  label,i{

    &:before{
      content: '\2606';
      font-size: inherit;
      font-style: normal;
      font-weight: normal;
    }
  }

  @for $i from 1 through 5 {
    $n: "n + "+ (6-$i);
    &[data-rating='#{$i}'] i:nth-child(#{$n}):before {
      content: '\2605';
    }
  }

  input:checked ~ label:before{
    content: '\2605';
  }
}