.content{
	border-bottom: 1px solid rgba($gray-dark, .28);
	border-top: 1px solid rgba($gray-dark, .28);
}
.h2--content{
	font-size: 24px;
	font-weight: 600;
	margin-top: 10px;
}

.h3--aside{
	font-size: 16px;
	border-bottom: 2px solid $primaryColor;
	padding: 5px 25px;
	text-transform: uppercase;
}

.list--theme{
	> li {
		color: $brand-success;
	}
}

.h1--page{
	border-bottom: 1px solid rgba($gray-dark, .28);
	padding-bottom: 10px;
	@include at-query($max, $screen-xs-max){
		font-size: 20px;
	}
}

.h2--catalog{
	font-size: 18px;
	text-transform: uppercase;
	color: #FFF;
	padding: 8px 20px;
	line-height: 23px;
	margin: 0;

	&.success{
		background: $brand-success;
	}

	&.primary{
		background: $brand-primary;
	}
}

@include at-query($max, $screen-xs-max){
	.h2--content{
		font-size: 20px;
	}
}