.table {
	display: table;
	table-layout: fixed;
	&-cell {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
	&-row{
		display: table-row;
	}
}

.d-block{
	display: block;
}

.d-inline-block{
	display: inline-block;
}

.full{
	width: 100%;
}

.no-padding{
	padding: 0 !important;
}

.relative{
	position: relative;
}

.no-margin{
	margin: 0 !important;
}

.padding{
	$padding: 40px;
	padding: $padding 0;
	&_x-small{
		padding: $padding/4 0;
	}
	&_small{
		padding: $padding/2 0;
	}
	&_medium{
		padding: $padding*3/4 0;
	}
	&_large{
		padding: $padding*2 0;
	}
}

.flex{
	display: flex;
}

.font-weight-normal{
	font-weight: 400;
}

.flex-order-1{
	order: 1;
}

.flex-order-2{
	order: 2;
}

.slide{
	transform: scaleY(0.0001);
	transform-origin: center top;
	transition: .3s linear;

	&.down{
		transform: scaleY(1);
	}
}


$infix: "";
@each $prop, $abbrev in (margin: m, padding: p) {
	@each $size, $length in $spacers {

		.#{$abbrev}#{$infix}-#{$size}  { #{$prop}:        $length !important; }
		.#{$abbrev}t#{$infix}-#{$size} { #{$prop}-top:    $length !important; }
		.#{$abbrev}r#{$infix}-#{$size} { #{$prop}-right:  $length !important; }
		.#{$abbrev}b#{$infix}-#{$size} { #{$prop}-bottom: $length !important; }
		.#{$abbrev}l#{$infix}-#{$size} { #{$prop}-left:   $length !important; }
		.#{$abbrev}x#{$infix}-#{$size} {
			#{$prop}-right: $length !important;
			#{$prop}-left:  $length !important;
		}
		.#{$abbrev}y#{$infix}-#{$size} {
			#{$prop}-top:    $length !important;
			#{$prop}-bottom: $length !important;
		}
	}
}

@include at-query($max, $screen-lg-max){
	.hidden--lg-down{
		display: none !important;
	}
}

@include at-query($min, $screen-sm-min){
	.hidden--sm-up{
		display: none !important;
	}
}

@include at-query($max, $screen-sm-max){
	.hidden--sm-down{
		display: none !important;
	}
}

@include at-query($min, $screen-md-min){
	.hidden--md-up{
		display: none !important;
	}
}

@include at-query($max, $screen-md-max){
	.hidden--md-down{
		display: none !important;
	}
}

@include at-query($min, $screen-xs-min){
	.hidden--xs-up{
		display: none !important;
	}
}

@include at-query($max, $screen-xs-max){
	.hidden--xs{
		display: none !important;
	}

	.text-right--xs{
		text-align: right;
	}
}