/*============================================================================
  Dependency-free breakpoint mixin
    - Based on http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
    - Usage docs: http://shopify.github.io/Timber/#sass-mixins
==============================================================================*/
$min: min-width;
$max: max-width;
@mixin at-query ($constraint_, $viewport1_, $viewport2_:null) {
 $constraint: $constraint_; $viewport1: $viewport1_; $viewport2: $viewport2_;
  @if type-of($constraint_) == number {
    $viewport1 : $constraint_; $viewport2 : $viewport1_; $constraint : null;
  }
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

@function em($target, $context: $font-size-base) {
    @if $target == 0 {
        @return 0;
    }
    @return $target / $context + 0em;
}

@mixin block-center-abs($position, $important:null){
  position: absolute;

  @if $position == 'vrl'{
    top: 0;
    bottom: 0;
    margin: auto 0 $important;
  } @else if $position == 'hrl'{
    left: 0;
    right: 0;
    margin: 0 auto $important;
  } @else if $position == 'full' {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto $important;
  }
}
