//- basket.pug
doctype html 
html 
	include views/includes/head.pug
	body.basket-page
		include views/partials/header.pug
		main.main.padding_small
			.container
				h1.h1--page.text-uppercase Корзина
				.basket__summary.pb-4.pt-2 1 товар на сумму:
					strong  15 560 Р
				- for (var n=0; n < 2; n++) {
				.basket__item
					.basket__item__img.text-center
						img(src="img/tissot-thumb.jpg")
					.basket__item__info
						div TISSOT T048.417.27.057.06
						.text-center.flex-order-2
							span.hidden--xs-up Цена:
							strong  13 456 P
						.basket__item__quantity
							.quantity#quantity
								input.form-control(name="quantity" type="text" value="1")
								button.plus.btn.btn-default.icon-plus
								button.minus.btn-default.btn.icon-minus
					.basket__item__remove.text-center
						button.btn.btn-default.text-uppercase.btn-sm.icon-close Удалить
				- }
				.basket__actions.padding_medium.text-right
					a.btn.btn-default.text-uppercase(href="/catalog.html") Продолжить покупки	
					a.btn.btn-success.text-uppercase(href="/order.html") Оформить заказ	
		include views/partials/footer.pug
		include views/partials/brands.pug
		include views/partials/common.pug
		include views/includes/scripts.pug