//- index.pug
doctype html 
html 
	include views/includes/head.pug
	body
		include views/partials/header.pug
		main.main
			.container
				.row
					.col-sm-3
						include views/pages/catalog/left-aside.pug
					.col-sm-9
						include views/includes/breadcrumb.pug
						include views/pages/catalog/center.pug
			include views/partials/subscribe.pug
		include views/partials/footer.pug
		include views/partials/brands.pug		
		include views/partials/common.pug
		include views/includes/scripts.pug

