//- index.pug
doctype html 
html 
	include views/includes/head.pug
	body.home
		include views/partials/header.pug
		main.main
			.container
				.row
					.col-sm-3.hidden--md-down
						include views/pages/home/left-aside.pug
					.col-md-6.col-sm-8
						include views/pages/home/center.pug
					.col-sm-4.col-md-3
						include views/pages/home/right-aside.pug
		include views/partials/footer.pug
		include views/partials/brands.pug
		include views/partials/common.pug
		include views/includes/scripts.pug