//- order.pug
doctype html 
html 
	include views/includes/head.pug
	body.order-page
		header.header
			.header-body
				.container.table
					.table-cell.col-sm-4.no-padding.hidden--sm-down
						.header__phone
							span Бесплатно по РФ
							a(href='tel:88009000000') 8 (800) 900-00-00
					.table-cell.col-sm-4.no-padding.text-center
						a(href='/' class='header__logo')
							img(src='img/logo.png' class='img-responsive')
							span.text-uppercase салоны швейцарских часов
						//.header__phone.text-center.hidden--sm-up
						//	span Бесплатно по РФ
						//	a(href='tel:88009000000') 8 (800) 900-00-00
						//.header__phone.text-center.hidden--sm-up
						//	span Санкт-Петербург
						//	a(href='tel:88126027589') 8 (812) 602-75-89
					.table-cell.col-sm-4.no-padding.text-right.hidden--sm-down
						.header__phone
							span Санкт-Петербург
							a(href='tel:88126027589') 8 (812) 602-75-89
		main.main.padding_small
			.container
				header.order__header
					h1.h1--page.text-uppercase Оформление заказа
					a.text-uppercase(href="/basket.html") Назад
				.basket__summary.pb-4.pt-2.full 1 товар на сумму:
					strong  15 560 Р
				- for (var n=0; n < 2; n++) {
				.basket__item
					.basket__item__img.text-center
						img(src="img/tissot-thumb.jpg")
					.basket__item__info
						div TISSOT T048.417.27.057.06
						.text-center.flex-order-2
							span.hidden--xs-up Цена:
							strong  13 456 P
						.basket__item__quantity
							.quantity#quantity
								input.form-control(name="quantity" type="text" value="1")
								button.plus.btn.btn-default.icon-plus
								button.minus.btn-default.btn.icon-minus
					.basket__item__remove.text-center
						button.btn.btn-default.text-uppercase.btn-sm.icon-close Удалить
				- }
				.order__form
					.padding_small.text-right
						a.btn-link.text-uppercase.text-success(href="#" data-toggle="modal" data-target="#login") Авторизация
					form.padding_medium(action="/" method="POST" name="orderForm")
						h3.text-uppercase.text-center.mb-5 Оформление заказа
						.form-group
							label.sr-only Коллекция
							input(type="text" class="form-control" placeholder="Коллекция" value="Бренд Tissot  Коллекция T-Lady ")
						.form-group
							label.sr-only ФИО
							input(type="text" class="form-control" id="orderUserName" placeholder="ФИО" autofocus)
						.form-group
							label.sr-only Телефон
							input(type="tel" class="form-control" placeholder="Телефон")
						.form-group
							label.sr-only E-mail
							input.form-control(name="email" type="email" placeholder="E-mail")
						.form-group
							label.sr-only Способ получения
							select.form-control
								option(disabled selected) Способ получения
						.form-group
							label.sr-only Адресс доставки
							input.form-control(type="text" placeholder="Адресс доставки")
						.form-group.mb-5
							label.sr-only Комментарий
							textarea.form-control(rows="5" placeholder="Комментарий")
						.form-group.text-center
							.checkbox.small.mb-3
								label
									input(type="checkbox" class="sr-only" checked)
									| Я согласен на обработку моих персональных данных
									i
							button.btn.btn-success.text-uppercase(type="submit") Оформить заказ

		include views/partials/footer.pug
		include views/partials/common.pug
		include views/includes/scripts.pug
		script
			| $("body, html").animate({scrollTop: $("[name='orderForm']").offset().top}, 1000);
			| $("#orderUserName").focus();