//- product.pug
doctype html 
html 
	include views/includes/head.pug
	body
		include views/partials/header.pug
		main.main
			.container
				include views/includes/breadcrumb.pug
				include views/pages/product/product-info.pug
				include views/pages/product/product-tabs.pug
				include views/partials/featured.pug
				include views/pages/product/similars.pug
			include views/partials/subscribe.pug
		include views/partials/footer.pug
		include views/partials/brands.pug
		include views/partials/common.pug
		include views/includes/scripts.pug

		

