section.brands.padding_small
	.container
		- var brands = ['rado','purrelet','bruno-sohnle', 'raymond', 'maurice'] 
		each brand in brands
			.brands__item
				img.img-responsive(src='img/brand-'+brand+'.png')