button.btn.btn--move-up#moveUp
	.icon-up-big
#productAddedModal.product-added-modal(class="modal fade in" role="dialog")
	.modal-dialog
		.modal-content
			.modal-header.pb-0
				.h4.text-center Товар добавлен в корзину
				button( type="button" class="btn icon-close" data-dismiss="modal")
			.modal-body.pt-0
				.product-added-modal__content
					.product-added-modal__img
						img.img-responsive(src="img/tissot-large.jpg")
					.product-added-modal__info
						.h3.no-margin TISSOT 
						.product-model.h3.no-margin T048.417.27.057.06
						.product-price.h3 14 458 Р
					.product-added-modal__actions
						a.btn.btn-default(href="catalog.html") Продолжить покупки
						a.btn.btn--add-cart.mt-3(href="order.html") Оформить заказa

#discountModal(class="modal fade in discount-modal" role="dialog")
	.modal-dialog
		.modal-content
			.modal-header.p-0
				button( type="button" class="btn icon-close" data-dismiss="modal")
			.modal-body.flex.p-0
				ul.list-unstyled.no-margin.discount-modal__benefits
					- var benefits = {"icon-quick-delivery_invert.png":"Быстрая доставка","icon-good-quality_invert.png":"Гарантия  от 2-х лет","icon-original_invert.png":"Только оригинальный товар"}
					each benefit, icon in benefits
						li.text-center.d-block
							span.text-uppercase=benefit
							img(src='img/'+icon)
				.discount-modal__img
					img.img-responsive(src="img/couple.jpg")
				.discount-modal__form
					form.p-4.no-margin(action="/")
						.discount-modal__title.h3.text-center.text-uppercase Скидка до 
							span.text-primary 30%
							br
							span.h5.font-weight-normal на популярные часы 
						hr
						.text-center.mb-5
							.h5 Только для наших подписчиков :
							span.d-block скидки, акции и последние новинки
							span.h5 Присоединяйтесь!
						.form-group
							label.sr-only E-mail
							input.form-control(type="email" name="email" placeholder="E-mail")
						.form-group.text-center
							button.btn.btn-success.text-uppercase(type="submit"): b Мужчинам
							button.btn.btn-success.text-uppercase(type="submit"): b Женщинам
							small.text-muted Скидка распространяется на следующие товары : Tissot, Atlantic, Tissot

#callBack(class="modal fade in" role="dialog")
	.modal-dialog
		.modal-content
			.modal-header.pb-0
				.h4.text-center Форма заявки
				button( type="button" class="btn icon-close" data-dismiss="modal")
			.modal-body
				form(action="/" method="POST")
					.form-group
						label.sr-only Имя
						input.form-control(name="name" placeholder="Имя")
					.form-group
						label.sr-only Фамилия
						input.form-control(name="surname" placeholder="Фамилия")
					.form-group
						.checkbox.small
							label
								input(type="checkbox" class="sr-only" checked)
								| Я согласен на обработку моих персональных данных
								i
					a.btn.btn-success.full.text-uppercase(href="#") Отправить

#registrationModal(class="modal fade in" role="dialog")
	.modal-dialog
		.modal-content
			.modal-header.pb-0
				.h4.text-center Регистрация
				button( type="button" class="btn icon-close" data-dismiss="modal")
			.modal-body.pt-0
				form(action="/" method="POST" name="registrationForm")
					.form-group
						label.sr-only Имя
						input.form-control(name="name" placeholder="Имя")
					.form-group
						label.sr-only E-mail
						input.form-control(name="email" placeholder="E-mail")
					.form-group
						label.sr-only Телефон
						input.form-control(name="phone" placeholder="Телефон")
					.form-group
						label.sr-only Пароль
						input.form-control(name="password" placeholder="Пароль")
					.form-group
						.checkbox.small
							label
								input(type="checkbox" class="sr-only" checked)
								| Я согласен на обработку моих персональных данных
								i
					button.btn.btn-success.text-uppercase.full(type="submit") Зарегистрироваться

#loginModal(class="modal fade in" role="dialog")
	.modal-dialog
		.modal-content#login
			.modal-header.pb-0
				.h4.text-center Авторизация
				button( type="button" class="btn icon-close" data-dismiss="modal")
			.modal-body.pt-0
				form(action="/" method="POST" name="loginForm")
					.form-group
						label.sr-only E-mail
						input.form-control(name="email" placeholder="E-mail")
					.form-group
						label.sr-only Пароль
						input.form-control(name="password" placeholder="Пароль")
					.form-group
						.checkbox.small
							label
								input(type="checkbox" class="sr-only" checked)
								| Я согласен на обработку моих персональных данных
								i
					.form-group
						button.btn.btn-success.text-uppercase.full(type="submit") Войти
					.form-group.clearfix
						a.pull-left(href="#registrationModal" data-toggle="form") Зарегистрироваться
						a.pull-right(href="#forgotPasswordModal" data-toggle="form") Забыли пароль?

#forgotPasswordModal(class="modal fade in" role="dialog")
	.modal-dialog
		.modal-content
			.modal-header.pb-0
				.h4.text-center Востановление пароля
				button( type="button" class="btn icon-close" data-dismiss="modal")
				form(action="/" method="POST" name="forgotPasswordForm")
					.form-group
						label.sr-only E-mail
						input.form-control(name="email" placeholder="E-mail")
					.form-group
						button.btn.btn-success.text-uppercase.full(type="submit") Востановить пароль

.basket.basket_fixed.text-center
	a.icon-basket(href="/basket.html")
		span.text-center.total-items 0
		span.text-uppercase.d-block.mt-2.hidden--sm-down Оформить заказ
.over-layer#overLayer

