section.featured
    header
        h2.h2--catalog.success Мы рекомендуем
    .padding_small#featuredSlider.slider_horizontal
        - for (var i=0; i<6; i++) {
        .slick-slide
            form.product-card--secondary.product-card.on-sale(action="/" method="POST")
                a(href="#").product-model.text-center T02.1.265
                a(href="#")
                    img(src="img/clock-medium.jpg" class="img-responsive")
                .product-price
                    .product-price__title.h5 Цена
                        span.label-discount - 30%
                    span.product-price_current.h3.no-margin 14520 р
                    s.product-price_old.h4.no-margin 17520 р
                button.btn.btn--add-cart.full(type="submit") Купить
        - }
