footer.footer.text-center.padding
	.container
		ul.social.list-unstyled
			- var socials = ["facebook", "instagram","vkontakte","youtube"]
			each social in socials
				li
					a(href="#" class='icon-'+social)
		p.text-center.copyrights Swiss-Style.Ru Copyright © 2006 − 2017 Магазины швейцарских часов в Москве и Санкт-Петербурге 
			br. 
			| Создание сайта REKA Creative group
