header.header#header
	.top-bar
		.container
			button.top-bar__menu-toggle.icon-menu.pull-left.hidden--sm-up(data-toggle="collapse" data-target="#topBarMenu")
			nav.top-bar__menu.pull-left#topBarMenu.collapse
				- var topBarMenu = ['о компании', 'магазины', 'новости', 'сервис', 'контакты']
				each link in topBarMenu
					a(href='#' class='top-bar__menu__link')=link
				.top-bar__menu__phone.hidden--sm-up
					span.h4 8 (800) 900-00-00
					span.pull-right Санкт-Петербург
				.top-bar__menu__phone.hidden--sm-up
					span.h4 8 (800) 900-00-00
					span.pull-right Москва
			.top-bar__logo.hidden--sm-up
				a(href='/' class='header__logo')
					img(src='img/logo.png' class='img-responsive')
					span.text-uppercase салон швейцарских часов
			.top-bar__basket.basket.hidden--sm-down
				a.icon-basket(href="/basket.html"): span.text-center.total-items 0
			.top-bar__account.pull-right
				a(href="#" class='icon-user login' data-toggle="modal" data-target="#loginModal"): span.hidden--sm-down Вход
				a(href="#" class='registration' data-toggle="modal" data-target="#registrationModal") Регистрация
			button.top-bar__search-toggle.icon-search.hidden--sm-up.pull-right#topBarSearchHandle(data-toggle="collapse" data-target="#topBarSearch")
			.top-bar__search#topBarSearch.collapse
				.container
					form.search.relative.hidden--sm-up(action='/' method='post')
						input.form-control(type='search' placeholder='Поиск')
						button.btn.btn--search(type='submit')
							i.icon-search
			.top-bar__location.pull-right
				form(action='' method='post')
					select(class='form-control')
						option(disabled selected) Выберите город
						- var cities = ['Москва', 'Санкт-Петербург']
						each city in cities
							option(value=city)=city
	.header-body.hidden--sm-down
		.container.table
			.table-cell.col-sm-4.no-padding
				.header__phone
					span Бесплатно по РФ
					a(href='tel:88009000000') 8 (800) 900-00-00
				.header__phone
					span Санкт-Петербург
					a(href='tel:88126027589') 8 (812) 602-75-89
			.table-cell.col-sm-4.no-padding.text-center
				a(href='/' class='header__logo')
					img(src='img/logo.png' class='img-responsive')
					span.text-uppercase салоны швейцарских часов
			.table-cell.col-sm-4.no-padding.text-right
				a.btn.btn--call-back.btn-lg(href="#" data-toggle="modal" data-target="#callBack") Обратный звонок
	nav.menu#mainMenu.collapse.in
		.menu-mobile.hidden--sm-up.text-center
			.container
				span.dropdown.menu-primary__link
					a.dropdown-toggle.icon-down-min(href="#" data-toggle="dropdown") Каталог
					span.dropdown-menu
						span.container.d-block
							span.menu-mobile__link.icon-down-min.dropdown-toggle мужские часы
								span.d-block(style="display:none;")
									- for (var r=0;r<3;r++) {
									ul.submenu
										- var submenu = ["Кварцевые настенные часы","Механические часы","Часы с кукушкой","Кварцевые настенные часы"]
										each link in submenu
											li
												a.submenu__link(href="/")=link
									- }
							span.menu-mobile__link.icon-down-min.dropdown-toggle женские часы
								span.d-block(style="display:none;")
									- for (var r=0;r<3;r++) {
									ul.submenu
										- var submenu = ["Кварцевые настенные часы","Механические часы","Часы с кукушкой","Кварцевые настенные часы"]
										each link in submenu
											li
												a.submenu__link(href="/")=link
									- }
							span.menu-mobile__link Аксессуары
						span.d-block.dropdown-menu__footer
							span.container.d-block
								a.menu-primary__link.text-primary(href="/catalog.html") Смотреть все часы
								a.menu-primary__link.text-primary(href="#") Спецпредложения
							
				a.menu-primary__link(href="catalog.html") бренды
				a.menu-primary__link(href="catalog.html") новинки

		.menu-primary#primaryMenu.hidden--sm-down
			.container
				span.dropdown.menu-primary__link
					a.dropdown-toggle.icon-down-min(href="#" data-toggle="dropdown") мужские часы
					span.dropdown-menu
						span.container.d-block
							- for (var r=0;r<3;r++) {
							ul.submenu
								li
									span.submenu__title.h5.mb-2.mt-4.text-uppercase Категория часов
									ul
										- var submenu = ["Кварцевые настенные часы","Механические часы","Часы с кукушкой","Кварцевые настенные часы"]
										each link in submenu
											li
												a.submenu__link(href="#")=link
							- }
						span.d-block.dropdown-menu__footer
							span.container.d-block
								a.menu-primary__link.text-primary(href="/catalog.html") Смотреть все часы
								a.menu-primary__link.text-primary(href="#") Спецпредложения

				span.dropdown.menu-primary__link
					a.dropdown-toggle.icon-down-min(href="#" data-toggle="dropdown") женские часы
					span.dropdown-menu
						span.container.d-block
							- for (var r=0;r<3;r++) {
							ul.submenu
								li
									span.submenu__title.h5.mb-3.text-uppercase Категория часов
									ul
										- var submenu = ["Кварцевые настенные часы","Механические часы","Часы с кукушкой","Кварцевые настенные часы"]
										each link in submenu
											li
												a.submenu__link(href="#")=link
							- }
						span.d-block.dropdown-menu__footer
							span.container.d-block
								a.menu-primary__link.text-primary(href="/catalog.html") Смотреть все часы
								a.menu-primary__link.text-primary(href="#") Спецпредложения

				a.menu-primary__link(href="javascript:void(0);") аксессуары
				a.menu-primary__link(href="catalog.html") бренды
				a.menu-primary__link(href="catalog.html") новинки
				a.menu-primary__link.hidden--md-down(href="catalog.html") скидки

				form.search.pull-right.relative.hidden--sm-down#searchForm(action='/' method='post')
					input.form-control(type='search' placeholder='Поиск')
					button.btn.btn--search(type='submit')
						i.icon-search

	.search-result#searchResult(style="display:none;")
		.container
			- for (var n=0; n < 2; n++) {
			a(href="/product.html").search-result__item.table.full
				span.table-cell
					img(src="img/tissot-thumb.jpg")
					span.px-2 TISSOT 
				span.table-cell
					span T048.417.27.057.06
					br 
					strong.hidden--xs-up 13 456 P
				span.table-cell.text-center.hidden--xs
					strong 13 456 P
				span.table-cell.text-center.text-right--xs
					span.label-status.primary Товар в наличии
			- }
			a(href="/product.html").search-result__item.table.full
				span.table-cell
					img(src="img/tissot-thumb.jpg")
					span.px-2 TISSOT sdfasdasds
				span.table-cell
					span T048.417.27.057.06
					br 
					strong.hidden--xs-up 13 456 P
				span.table-cell.text-center.hidden--xs
					strong 13 456 P
				span.table-cell.text-center.text-right--xs
					span.label-status.primary Товар в наличии
.header-scroll.affix#headerScroll.hidden--sm-down(style="display:none;")
	.container
		.pull-left
			.header__phone
				span Бесплатно по РФ
				a(href='tel:88009000000') 8 (800) 900-00-00
			.header__phone
				span Санкт-Петербург
				a(href='tel:88126027589') 8 (812) 602-75-89
		a(href='/' class='header-scroll__logo')
			img(src='img/logo.png' class='img-responsive')
		a.btn.btn--call-back.pull-right.btn-sm(href="#" data-toggle="modal" data-target="#callBack") Обратный звонок


			

