section.specials
	header
		.h2--catalog.success Спецпредложения
			.pull-right
				sup до
				span 30%
	.padding_small#specialsSlider.slider_horizontal
		- for (var i=0; i<7; i++) {
		.slick-slide
			form.product-card--secondary.product-card.on-sale(action="/" method="POST")
				a.text-center.product-model(href="/product.html") T02.1.265
				a(href="/product.html")
					img(src="img/clock-medium.jpg" class="img-responsive")
				.product-price
					.product-price__title.h5 Цена
						span.label-discount - 30%
					span.product-price_current 14520 р
					s.product-price_old 17520 р
				button.btn.btn--add-cart.full(type="submit") Купить
		- }
