section.padding_small
  .container
    .subscribe
      form
        .form-group
          .h4.text-uppercase Подписаться на рассылку
        .form-group
          label(class="sr-only" for="name") Имя:
          input(type="text" class="form-control" id="name" placeholder="Имя")
        .form-group
          label(class="sr-only" for="email") Email:
          input(type="email" class="form-control" id="email" placeholder="E-mail")
        .form-group
          .checkbox.small
            label
              input(type="checkbox" class="sr-only" checked)
              i
              | Я согласен на обработку моих персональных данных
              a(href='#') просмотреть
        .form-group
          button.full.btn-md(type="submit" class="btn btn--call-back") Подписаться