.brands{
	font-size: 0;
	text-align: center;
	border-top: 1px solid rgba($gray-dark, .3);

	&__item{
		display: inline-block;
		width: 100%;
		max-width: calc(100%/8);
		@include at-query($max, $screen-sm-max){
			max-width: calc(100%/5);
		}

		@include at-query($max, $screen-xs-max){
			max-width: calc(100%/3);
		}
    	img{
    		margin: auto;
    	}
	}
	.order-page & {
		display: none;
	}
}