.featured{
  .slick-list{
    margin: 0 -20px;
  }

  .slick-slide{
    margin: 0 20px;
  }
  .slick-arrow{
    $fontSize: 25px;
    font-size: $fontSize;
    &:before {
      height: $fontSize;
    }
  }
}