	.news{
		display: flex;
		flex-wrap: wrap;
		&__item{
			font-size: 12px;
			margin: 10px 0 10px 20px;
    		padding: 0 0 10px 20px;
    		border-bottom: 1px solid rgba($gray-dark, .3);
			flex: 1 0 190px;
			max-width: 220px;
    		@include at-query($max, $screen-md-max){
				padding-left: 0;
			}
			@include at-query($max, $screen-xs-max){
				flex: auto;
				max-width: 100%;
			}
		}

		&__title{
			font-size: inherit;
		}

        time{
        	display: block;
        	font-size: em(10px, 12px);
        	color: $brand-primary;
        }
    }