.search-result{
    background: #FFF;
    top: 277px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(78,55,43,0.4);
    @include block-center-abs(hrl);



    @include at-query($max, $screen-md-max){
        top: 258px;
    }

    @include at-query($max, $screen-sm-max){
        top: 160px;
    }

    @include at-query($max, $screen-xs-max){
        top: 140px;
    }

    &__item{
        padding: 10px 0 0;
        color: $gray-dark;
        &:hover{
            text-decoration: none;
        }
        &:last-child{
            margin-bottom: 10px; 
        }

        .table-cell:first-child{
            width: 350px;
        }

        @include at-query($max, $screen-xs-max){
            img{
                display: block;
                margin: auto;
                max-width: 50px;
            }
            .label-status{
                text-align: center;
                font-size: 10px;
                max-width: 50px;
                padding: 3px;
            }
        }
    }
    &__item + &__item{
        border-top: 1px solid rgba($gray-dark, .3);
        margin-top: 10px;
    }
}