.specials{
  .slick-list{
    margin: 0 -10px;
  }

  .slick-slide{
    margin:  10px;
  }

  .slick-arrow{
    $fontSize: 25px;
    font-size: $fontSize;
    &:before {
      height: $fontSize;
    }
  }
}