.subscribe{
  background: rgba($gray-dark, .1);
  border: 1px solid rgba($gray-dark, .2);
  padding: 30px 60px;

  @include at-query($max, $screen-sm-max){
    padding: 30px 15px;
  }

  .checkbox{
    font-size: 12px;
    line-height: 1;
    @include at-query($min, $screen-xl){
      max-width: 220px;
    } 
  }

  @include at-query($max, $screen-lg-max){
    .h4{
      text-align: center;
    }

    .form-group:nth-child(4){
      text-align: center;
    }
  }

  .form-group{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    @include at-query($min, $screen-lg-min){
      &:first-child{
        max-width: 140px;
      }
      &:nth-child(n+2){
        max-width: 200px;
      }
      &+.form-group{
        margin-left: 15px;
      }
    }
    @include at-query($min, $screen-xl){
      margin-bottom: 0;
      &:nth-child(n+2){
        max-width: 240px;
      }
    }   
  }

  .form-control{
    width: 100%;
  }

  .btn{
    font-size: 14px;
  }
}

