section.catalog__products
	header.catalog__products__header
		h2.h2--catalog.hidden--sm-down Каталог Tissot
		.catalog__products-view#catalogProductsView(role="button")
			span.icon-up.hidden--sm-up.icon-price  По цене
			span.hidden--sm-up 
			span.icon-list(role="button")
			span.icon-tiles.active(role="button")
			span.icon-params.hidden--sm-up(data-toggle="collapse" data-target="#catalogFilterMob" aria-expanded="false")
			form#catalogFilterMob.collapse.hidden--sm-up(action="/" class="catalog__filter")
				.panel-group
					.panel.panel-default
						.panel-heading
							.h4.panel-title
								a(data-toggle="collapse" href="#catalogFilterKindMob" aria-expanded="true") Вид
									i.icon-down-big
						.panel-collapse.collapse.in#catalogFilterKindMob(aria-expanded="true")
							.panel-body
								.radio
									label
										input(type="radio" name="catalogKind")
										i
										| Мужские
								.radio
									label
										input(type="radio" name="catalogKind")
										i
										| Женские
								.radio
									label
										input(type="radio" name="catalogKind")
										i
										| Унисекс
					.panel.panel-default
						.panel-heading
							.h4.panel-title
								a.collapsed(data-toggle="collapse" href="#catalogFilterMechanismMob" aria-expanded="false") Тип механизма
									i.icon-down-big
						.panel-collapse.collapse#catalogFilterMechanismMob(aria-expanded="false")
							.panel-body
								.radio
									label
										input(type="radio" name="catalogMechanism")
										i
										| Кварцевые
								.radio
									label
										input(type="radio" name="catalogMechanism")
										i
										| Электронные
								.radio
									label
										input(type="radio" name="catalogMechanism")
										i
										| Механические
				.text-center.mb-3
					button.btn.btn-default.text-uppercase.btn-sm(type="reset" onclick="$('#catalogFilterMob').collapse('hide');") Сбросить фильтры

	#catalogGrid.padding_x-small.catalog__products__grid.tiles
		// 12 or 24 items 
		- for (var i=0; i<12; i++) {
		// if on sale add class .on-sale
		form.product-card--primary.product-card(action="/" method="POST")
			a.product-model(href="/product.html") T02.1.265
			.flex-order-2.hide-tiles
				.product-features
					.product-title LONGINES
					.product-kind Мужские часы
					.product-options
						ul.list-unstyled
							- var options = {'Механизм':'Кварцевый','Корпус':'Нержавеющая сталь','Стекло':'Сапфировое'}
							each value, option in options
								li
									span=option + ":"
									span=value
				.product-price
					.product-price__title.h6 Цена
						span.label-discount - 30%
					span.h4.no-margin 14520 р
			.flex-order-1
				a.product-img(href="/product.html")
					img.img-responsive(src="img/clock-small.jpg")
				.product-status.hide-tiles 
					span.value В наличии:
					ul.list-unstyled
						li ТРК Гулливер
						li ТЦ Стокманн
				.product-price.hide-list
					.product-price__title.h5 Цена
						span.label-discount - 30%
					span.product-price_current 14520 р
					s.product-price_old 17520 р
				.product-actions
					button.btn.btn--add-cart.btn-sm.full(type="submit") Купить
		- }