section.catalog__content
	header.catalog__header.h1--page
		h1.h2.catalog__header__h1.text-uppercase Tissot
		.catalog__header__description.hidden--xs Tissot — марка швейцарских часов, основаная в 1853 году Шарль-Фелисьеном Тиссо в городке Ле-Локль
		.catalog__header__img 
			img.img-responsive(src="img/tissot-logo-min.png" alt="Tissot")
	.catalog__filter-label.padding_x-small
		span.label.label-primary Мужские
			i.icon-close(role="button")
		span.label.label-primary Кварцевые
			i.icon-close(role="button")
	.catalog__filter-category.padding_x-small
		- for (var i=0; i<10; i++) {
		- if (i%2==0){	
		.label-category
			a(href="#").text-uppercase.label-category__text.h4.flex-order-2 FREDERIQUE CONSTANT sdfsdfdfssdsf sdfsd
			a(href="#").flex-order-1.flex
				img(src="img/clock-thumb.jpg" alt="Clock thumb")
		- } else {
		.label-category
			a(href="#").text-uppercase.label-category__text.h4.flex-order-2 Rado
			a(href="#").flex-order-1.flex
				img(src="img/clock-thumb.jpg" alt="Clock thumb")
		- }
		- }
	include ../../partials/specials.pug
	include catalog.pug
	.catalog__pagination.text-center
		include ../../includes/pagination.pug
	section.content.padding_small
		h2.h2--content Швейцарские часы Тиссот
		p.
			Нет оснований не доверять руководителю швейцарской компании Tissot господину Франсуа Тьебо, утверждающему, что по количеству экземпляров в мире механические часы известной марки Tissot занимают первое место! Они же лидируют по объему ежегодно выпускаемых партий. При этом, несмотря на огромный тираж, брендовые швейцарские часы были и остаются эталоном качества и стиля. Знакомьтесь, Tissot!
		h5 Отличный выбор моделей из коллекций:
		ul.list--theme.list-unstyled
			- var collections = ['T-Heritage','Classic','T-Trend','T-Sport','T-Gold','Touch Collection','T-Pocket','SPECIAL COLLECTIONS']
			each collection in collections
				li
					a(href="#")=collection
	section.padding_small
		h3.content__h2 Статьи о бренде
		include ../../partials/news.pug

