aside.padding_small.hidden--sm-down
	form(action="/" class="catalog__filter")
		.panel-group
			.panel.panel-primary
				.panel-heading
					.h4.panel-title
						span(data-toggle="collapse" data-target="#catalogFilterPrice" role="button" aria-expanded="true") Цена
							i.icon-down-big
				.panel-collapse.collapse.in#catalogFilterPrice(aria-expanded="true")
					.panel-body
						.radio
							label
								input(type="radio" name="catalogPrice")
								i
								| От дорогих
						.radio
							label
								input(type="radio" name="catalogPrice")
								i
								| От дешевых
			.panel.panel-primary
				.panel-heading
					.h4.panel-title
						span(data-toggle="collapse" data-target="#catalogFilterKind" role="button" aria-expanded="true") Вид
							i.icon-down-big
				.panel-collapse.collapse.in#catalogFilterKind(aria-expanded="true")
					.panel-body
						.radio
							label
								input(type="radio" name="catalogKind")
								i
								| Мужские
						.radio
							label
								input(type="radio" name="catalogKind")
								i
								| Женские
						.radio
							label
								input(type="radio" name="catalogKind")
								i
								| Унисекс
			.panel.panel-primary
				.panel-heading
					.h4.panel-title
						a.collapsed(data-toggle="collapse" href="#catalogFilterMechanism" aria-expanded="false") Тип механизма
							i.icon-down-big
				.panel-collapse.collapse#catalogFilterMechanism(aria-expanded="false")
					.panel-body
						.radio
							label
								input(type="radio" name="catalogMechanism")
								i
								| Кварцевые
						.radio
							label
								input(type="radio" name="catalogMechanism")
								i
								| Электронные
						.radio
							label
								input(type="radio" name="catalogMechanism")
								i
								| Механические
		.text-center
			button.btn.btn-default.text-uppercase.btn-sm(type="reset") Сбросить фильтры

	
