.over-layer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($gray-dark, .3);
    z-index: 999;
    display: none;
}

@include at-query($max, $screen-sm-max){
    .main{
        margin-top: 139px;
    }
}

@include at-query($max, $screen-xs-max){
    .main{
        margin-top: 119px;
    }
}