@at-root {
  // Import the fonts
 @font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/subset-CenturyGothic-Italic.eot');
  src: url('../fonts/subset-CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-CenturyGothic-Italic.woff2') format('woff2'),
    url('../fonts/subset-CenturyGothic-Italic.woff') format('woff'),
    url('../fonts/subset-CenturyGothic-Italic.ttf') format('truetype'),
    url('../fonts/subset-CenturyGothic-Italic.svg#CenturyGothic-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/subset-Ubuntu.eot');
  src: url('../fonts/subset-Ubuntu.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-Ubuntu.woff2') format('woff2'),
    url('../fonts/subset-Ubuntu.woff') format('woff'),
    url('../fonts/subset-Ubuntu.ttf') format('truetype'),
    url('../fonts/subset-Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/subset-CenturyGothic.eot');
  src: url('../fonts/subset-CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-CenturyGothic.woff2') format('woff2'),
    url('../fonts/subset-CenturyGothic.woff') format('woff'),
    url('../fonts/subset-CenturyGothic.ttf') format('truetype'),
    url('../fonts/subset-CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/subset-Ubuntu-Bold.eot');
  src: url('../fonts/subset-Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-Ubuntu-Bold.woff2') format('woff2'),
    url('../fonts/subset-Ubuntu-Bold.woff') format('woff'),
    url('../fonts/subset-Ubuntu-Bold.ttf') format('truetype'),
    url('../fonts/subset-Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/subset-CenturyGothic-BoldItalic.eot');
  src: url('../fonts/subset-CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-CenturyGothic-BoldItalic.woff2') format('woff2'),
    url('../fonts/subset-CenturyGothic-BoldItalic.woff') format('woff'),
    url('../fonts/subset-CenturyGothic-BoldItalic.ttf') format('truetype'),
    url('../fonts/subset-CenturyGothic-BoldItalic.svg#CenturyGothic-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/subset-CenturyGothic-Bold.eot');
  src: url('../fonts/subset-CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-CenturyGothic-Bold.woff2') format('woff2'),
    url('../fonts/subset-CenturyGothic-Bold.woff') format('woff'),
    url('../fonts/subset-CenturyGothic-Bold.ttf') format('truetype'),
    url('../fonts/subset-CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

}