section.padding_small
    img.img-responsive(src="img/store.jpg")
    .padding_medium
        h1.h2--content.mb-4 Швейцарский стиль - салоны часов и аксессуаров в Петербурге
        h2.h4.mb-4 Cеть салонов швейцарских наручных часов и аксессуаров в Петербурге.
        p.
            На нашем сайте вы найдете интересную информацию о часах и аксессуарах (историю, описание, фотографии и цены) обо всех популярных часовых брендах.
            В продаже в нашем часовом магазине представлены мужские и женские часы самых популярных швейцарских и немецких марок.
            Также вы можете распечатать купон, позволяющий получить скидку на приобретение наручных часов и аксессуаров в нашей сети.
            Наш магазин наручных часов имеет 2 офлайн представительства, с которыми вы можете ознакомиться на странице контактов.
            Для продажи наручных часов магазин имеет все необходимые сертификаты качества, предоставляющие гарантию оригинальности всего ассортимента.
        .padding_small
            h2.h2--content.mb-4 Салоны швейцарских наручных часов и аксессуаров.
            p.
                Компания "Швейцарский Стиль» является официальным дилером по продаже наручных часов ведущих мировых брендов, таких как:
                Maurice Lacroix, Century, Perrelet, Longines, Armand Nicolet, Raymond Weil, Epos, Auguste Reymond, Bruno Sohnle, Rado, Certina, Tissot, а также аксессуаров Dupont.
                Наш часовой магазин предлагает только оригинальные швейцарские кварцевые и механические наручные часы, их высочайшее качество подтверждено временем и популярностью у покупателей по всему миру.
                Если Вы до сих в поиске лучшего часового магазина, то загляните в наш салон. Купить наручные швейцарские часы в Петербурге вы можете в сети наших салонов, где так же эксклюзивно представлены коллекции элитных швейцарских часов Century и Louis Moinet.
                Во всех наших магазинах часов в Санкт-Петербурге вы получите профессиональную консультацию специалистов и помощь в выборе конкретной модели перед тем как купить в Санкт-Петербурге часы, интересующей Вас модели.