aside.padding_small
	form(action="/" class="home__filter text-center")
		.home__filter__title.h4 По виду
		.padding_x-small.clearfix
			.col-sm-6
				label.text-left.radio(role="button")
					input(type="radio" name="sex" checked)
					i
					| Мужские
			.col-sm-6
				label.text-left.radio(role="button")
					input(type="radio" name="sex")
					i
					| Женские
		.home__filter__title.h4 По механизму
		.padding_x-small.clearfix
			.col-sm-6
				label.text-left.radio(role="button")
					input(type="radio" name="mechanism" checked)
					i
					| Кварцев.
			.col-sm-6
				label.text-left.radio(role="button")
					input(type="radio" name="mechanism")
					i
					| Механич.
		.home__filter__title.h4 По цене
		.padding_x-small.clearfix
			.col-sm-6
				label.small
					| oт
					input(type="text" name="minPrice" class="form-control" value="10")
			.col-sm-6
				label.small
					| до
					input(type="text" name="maxPrice" class="form-control" value="5000")
			.col-sm-12
				#priceRange.my-4
		.home__filter__actions
			button.btn.btn-success.full.text-uppercase Подобрать

	nav.menu-secondary
		.h3.h3--aside Часы
		- var brands = ['Tissot', 'Tissot', 'Tissot', 'Tissot', 'Tissot']
		each link in brands
			a.menu-secondary__link(href="#")=link
	nav.menu-secondary
		.h3.h3--aside Аксессуары
		- var brands = ['UNDERWOOD', 'UNDERWOOD', 'UNDERWOOD', 'UNDERWOOD', 'UNDERWOOD']
		each link in brands
			a.menu-secondary__link(href="#")=link
