aside.padding_small
	.promotion-banner
		img.img-responsive(src="img/clock-on-sale.jpg")
		img.img-responsive(src="img/banner-2.jpg")
	.h3.h3--aside Новости
	include ../../partials/news.pug
	.h3.h3--aside Публикации
	include ../../partials/news.pug

