section.product.on-sale
	header.product__title.flex
		h1.h2 TISSOT T048.417.27.057.06
		.product__title__img.hidden--xs
			img.img-responsive(src="img/tissot-logo-min.png")
	.row
		.col-md-5
			.padding_small.relative
				.product__thumbs#productThumbs.slider_vertical
					- for (var i=0; i<8; i++) {
					if i == 0
						.slick-slide(role="button")
							img.img-responsive(src="img/tissot-thumb.jpg" data-src="img/tissot-large.jpg" data-zoom-image="img/tissot-master.jpg")
					else
						.slick-slide(role="button")
							img.img-responsive(src="img/tissot-additional-thumb.jpg" data-zoom-image="img/tissot-additional-master.jpg" data-src="img/tissot-additional-large.jpg")
					- }
				.product__image#productImage
					img.img-responsive(src="img/tissot-large.jpg" data-zoom-image="img/tissot-master.jpg")
			.product-status
				.label-status.primary
					strong Товар в наличии
				.product-status__body
					ul.list-unstyled.no-margin
						- var stores = {'ТРК "Атлантик Сити"':'(812) 409-30-51','ТМ "Светлановский"':'(812) 409-30-51'}
						each phone,store in stores
							li
								strong=store
								span=phone

					small.text-uppercase Позвоните чтобы уточнить наличие и забронировать часы
			.product-price.hidden
				.product-price__title.h5 Цена
					span.label-discount - 30%
				span.product-price_current 14520 р
				s.product-price_old 17520 р
			.product__buttons.hidden
				a.btn.btn--add-cart.btn-sm(href="#" data-toggle="modal" data-target="#productAddedModal") Купить
				a.btn.btn--call-back.btn-sm(href="#") Купить в 1 клик

		.col-md-7
			.product__info
				.product__info__row.clearfix.padding_x-small
					h2.product__collection.pull-left.no-margin
						strong.mb-1 Коллекция T-SPORT
						strong Tissot t-race chronograph
					.product__scu.pull-right
						strong T048.417.27.057.06
						span (alt. ref. T0484172705706)
				.product__info__row.clearfix.padding_x-small
					.pull-left
						button.btn.btn-primary.btn--compare Сравнить
					.pull-left
						.product__rating.rating.text-primary.text-left(data-rating="4")
							- for (var r=0; r <5; r ++){
								i
							-}
						.product__reviews
							span 6 оценок средняя 4,8 из 5
							a.btn-link#placeReview(href="#tab5") Оставить отзыв
					.pull-right
						a.btn.btn--discount.icon-gift.btn-sm.full
							span.hidden--lg-down Ваша скидка
							span  - 0,1%
				.product__info__row.clearfix.padding_small
					.product-price.pull-left
						.product-price__title.h5 Цена
							span.label-discount - 30%
						span.product-price_current 14520 р
						s.product-price_old 17520 р
						br
						span.label.label-primary Экономия 7 350 р
					.pull-right.text-right.product__buttons
						a.btn.btn--add-cart.btn-sm.full(href="#" data-toggle="modal" data-target="#productAddedModal") Купить
						a.btn.btn--call-back.btn-sm.full(href="#") Купить в 1 клик
				.product__info__row.product__options.padding_small
					ul.list-unstyled.no-margin
						- var options = {"Вид":"Мужские","Механизм":"кварцевый","Корпус":"Нержавеющая сталь","Стекло":"сапфировое"}
						each option, kind in options
							li.text-uppercase
								h3.product__options__title=kind
								strong=option
				.product__info__row.padding_small.media.product__description.no-margin
					.media-left: strong Описание:
					.media-body
						div.
							Размер: 45 х 50 мм. Хронограф, функции суммарного и сплит-хронографа. 30-минутный счетчик и счетчик 1/10 долей секунд. Индикация даты.  Арабские цифры. Каучуковый ремешок с  раскладной застежкой
				ul.list-unstyled.product__benefits.padding_small.no-margin
					- var benefits = {"icon-experience.png":"Работаем 12лет","icon-quick-delivery.png":"Быстрая доставка","icon-good-quality.png":"Гарантия  от 2-х лет","icon-original.png":"Только оригинальный товар"}
					each benefit, icon in benefits
						li.text-center
							img(src='img/'+icon)
							br
							span=benefit

				.panel-group.product__info__panels
					.panel.panel-default
						.panel-heading
							.h4.panel-title
								a.text-uppercase(data-toggle="collapse" href="#productDescription" aria-expanded="true") Описание
									i.icon-down-big
						.panel-collapse.collapse.in#productDescription(aria-expanded="true")
							.panel-body.padding_small
								.product__options
									ul.list-unstyled.no-margin
										- var options = {"Вид":"Мужские","Механизм":"кварцевый","Корпус":"Нержавеющая сталь","Стекло":"сапфировое"}
										each option, kind in options
											li.text-uppercase
												h3.product__options__title=kind
												strong=option
								.product__description
									strong Описание:
									div.
										Размер: 45 х 50 мм. Хронограф, функции суммарного и сплит-хронографа. 
										30-минутный счетчик и счетчик 1/10 долей секунд. Индикация даты.  
										Арабские цифры. Каучуковый ремешок с  раскладной застежкой
					.panel.panel-default
						.panel-heading
							.h4.panel-title
								a.text-uppercase(data-toggle="collapse" href="#productFeatures" aria-expanded="true") Характеристики
									i.icon-down-big
						.panel-collapse.collapse.in#productFeatures(aria-expanded="true")
							.panel-body.padding_small
								.features.row
									- for (var k=0; k<6; k++) {
									.col-sm-6
										.row.features__row
											.col-xs-7: strong Производство механизма
											.col-xs-5.text-right Механика
									- }
					.panel.panel-default
						.panel-heading
							.h4.panel-title
								a.text-uppercase.collapsed(data-toggle="collapse" href="#productVideo" aria-expanded="false") Видео
									i.icon-down-big
						.panel-collapse.collapse#productVideo(aria-expanded="false")
							.panel-body.padding_small
								.video-wrapper
									<iframe width="560" height="315" src="https://www.youtube.com/embed/PSLtzNrIY8U" frameborder="0" allowfullscreen></iframe>
					.panel.panel-default
						.panel-heading
							.h4.panel-title
								a.text-uppercase.collapsed(data-toggle="collapse" href="#productDelivery" aria-expanded="false") Доставка
									i.icon-down-big
						.panel-collapse.collapse#productDelivery(aria-expanded="false")
							.panel-body.padding_small
								.h3 Lorem ipsum dolor sit amet.
								p Lorem ipsum dolor sit amet, consectetur adipisicing.
					.panel.panel-default
						.panel-heading
							.h4.panel-title
								a.text-uppercase.collapsed(data-toggle="collapse" href="#productGaranty" aria-expanded="false") Гарантия и возврат
									i.icon-down-big
						.panel-collapse.collapse#productGaranty(aria-expanded="false")
							.panel-body.padding_small
								.h3 Lorem ipsum dolor sit amet.
								p Lorem ipsum dolor sit amet, consectetur adipisicing.
					.panel.panel-default
						.panel-heading
							.h4.panel-title
								a.text-uppercase(data-toggle="collapse" href="#productReview" aria-expanded="true") Отзывы
									i.icon-down-big
						.panel-collapse.collapse.in#productReview(aria-expanded="true")
							.panel-body.padding_small
									.reviews-holder
										- for (var k=0; k<5; k++) {
											.review
												.review__title.flex
													.review__author.h5 Алена Савина
													.review__rating
														.rating.text-primary(data-rating="3")
															- for (var r=0; r <5; r ++){
																i
															-}
														span.review__rating__value 3 из 5
													time.badge.primary.hidden--xs 12.09.12
												.review__body.
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										- }
									form.place-review.form-vertical(action="/" method="POST")
										.place-review__title.flex
											.h4 Оставить отзыв
											.place-review__rating.rating.text-primary
												- for (var n=0; n<5; n++) {
												- var r = 5-n;
												input.sr-only(type="radio" name="rating" value=r id="rating-"+r)
												label(role="button" for="rating-"+r)
												- }
										.form-group
											label.sr-only Имя
											input.form-control(name="username" placeholder="Имя")
										.form-group
											label.sr-only Сообщение
											textarea.form-control(name="message" placeholder="Сообщение..." rows="6")
										.form-group
											button.btn.btn--call-back Оставить отзыв
							

