.product__tabs.padding#productTabs
    h2.h2--content.mb-4 Дополнительная информация T048.417.27.057.06
    ul.nav.nav-tabs
        - var productTabs = ['Характеристики', 'Видео', 'Доставка', 'Гарантия и возврат', 'Отзывы']
        - var n = 0
        each tab, index in productTabs
            - n++
            li(class= index==0 ? "active":"")
                a(data-toggle="tab" href="#tab"+n)
                    h3=tab
    .social.pull-right

    .tab-content
        #tab1.tab-pane.fade.in.active
            .features.row
                    - for (var k=0; k<6; k++) {
                        .col-sm-6
                            .row.features__row
                                .col-xs-7: strong Производство механизма
                                .col-xs-5.text-right=(k==3)? 'Механика sdfsdf sdfsdfsweewrwer werwer werwesdf ':'Механика'
                    - }

        #tab2.tab-pane.fade
            .video-wrapper
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PSLtzNrIY8U" frameborder="0" allowfullscreen></iframe>
        #tab3.tab-pane.fade
            .h3 Lorem ipsum.
            p Lorem ipsum dolor sit amet, consectetur adipisicing.
        #tab4.tab-pane.fade
            .h3  Lorem ipsum dolor sit amet, consectetur.
            p Lorem ipsum dolor sit amet, consectetur adipisicing.
        #tab5.tab-pane.fade
            .row
                .col-sm-5
                    form.place-review.form-vertical(action="/" method="POST")
                        .place-review__title.flex
                            .h4 Оставить отзыв
                            .place-review__rating.rating.text-primary
                                - for (var n=0; n<5; n++) {
                                - var r = 5-n;
                                  input.sr-only(type="radio" name="rating" value=r id="rating-"+r)
                                  label(role="button" for="rating-"+r)
                                - }
                        .form-group
                            label.sr-only Имя
                            input.form-control(name="username" placeholder="Имя")
                        .form-group
                            label.sr-only Сообщение
                            textarea.form-control(name="message" placeholder="Сообщение..." rows="6")
                        .form-group
                            button.btn.btn--call-back Оставить отзыв
                .col-sm-7
                    .reviews-holder
                        - for (var k=0; k<5; k++) {
                            .review
                                .review__title.flex
                                    .review__author.h5 Алена Савина
                                    .review__rating
                                        .rating.text-primary(data-rating="3")
                                            - for (var r=0; r <5; r ++){
                                                i
                                            -}
                                        span.review__rating__value 3 из 5
                                    time.badge.primary 12.09.12
                                .review__body.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        - }