nav.similars.text-center.padding_small
    h3.h4.text-uppercase Похожие товары
    .padding_x-small
        - var similars = ["Часы для мужчин","Кварцевые наручные часы","Часы TISSOT для мужчин","Наручные часы TISSOT с кварцевым механизмом" ]
        each similar in similars
            a(href="#")=similar

