nav.padding_small
  ol.breadcrumb
      - var breadcrumbsLinks = ['Home', 'Часы', 'Tissot']
      each link, index in breadcrumbsLinks
          if index != breadcrumbsLinks.length - 1
              li
                  a(href='#')=link
          else
              li=link