//- includes/head.pug
head
	<meta charset="utf-8">
	title Швейцарский стиль
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	link(href='css/main.min.css'  rel="stylesheet")
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet")